{% extends 'base.html' %}

{% block content %}
    <div class="column is-5 is-offset-4">
            <form method="POST" enctype="multipart/form-data">
                <div class="field">
                    {{ form.csrf_token() }}
                    <div class="control">
                        {{ form.title(class="input", placeholder="Title") }}
                        {% for error in form.title.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.recipe(class="input", placeholder="Recipe") }}
                        {% for error in form.recipe.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.ingredients(class="input", placeholder="Ingredients") }}
                        {% for error in form.ingredients.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.price(class="input", placeholder="Price") }}
                        {% for error in form.price.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        {{ form.image(class="form-control")}}
                    </div>
                </div>
                <div>
                    {{ form.submit(class="button is-info is-centered") }}
                </div>
                {% if file_url %}
                    <div class="mt-5">
                        <img src="{{file_url}}" style="width: 400px;">
                    </div>
                {% endif %}
            </form>
    </div>


{% endblock %}