{% extends 'base.html' %}

{% block content %}

    <h1 class="title is-1">Recipe Blog</h1>
    <a href="{{url_for('blog.blog')}}" >Post a recipe</a>

    {% if recipes %}
        <table class="table">
            <tr>
                <th>title</th>
                <th>recipe</th>
                <th>ingredients</th>
                <th>price</th>
                <th>image</th>
            </tr>
            {% for recipe in recipes %}
                <tr>
                    <td>{{ recipe.title }}</td>
                    <td>{{ recipe.recipe }}</td>
                    <td>{{ recipe.ingredients }}</td>
                    <td>{{ recipe.price }}</td>
                    <td><img src= {{ recipe.image }} height="100" width="100"></td>
                </tr>
            {% endfor %}
        </table>

    {% endif %}

{% endblock %}